<!doctype html>

{% load static %}

<div class="services">
    <h2>Услуги</h2>
    <ul>
        <li><strong>Интеллектуальное право. </strong>Мы предоставляем экспертные консультации и защищаем интересы клиентов в сфере интеллектуальной собственности, включая авторские права, патенты, товарные знаки и другие аспекты интеллектуальной собственности.</li>
        <li><strong>Коммерческое право. </strong>Наша фирма оказывает полный спектр услуг по коммерческому праву, включая юридическое сопровождение сделок, составление договоров, корпоративное управление и решение споров в сфере бизнеса.</li>
        <li><strong>Налоговое право. </strong>Наша команда специалистов по налоговому праву помогает клиентам оптимизировать налоговые обязательства, обеспечивая соблюдение налогового законодательства и защиту от неправомерных действий со стороны налоговых органов.</li>
        <li><strong>Судебное представительство. </strong>Мы предоставляем квалифицированную правовую помощь и представляем интересы клиентов в судах на всех уровнях юрисдикции, обеспечивая защиту и реализацию их прав и интересов в различных правовых спорах.</li>
    </ul>
</div>
<img src="{% static 'main/img/1.jpg' %}" alt="Image 1">